h1{

font-family: 'Kufam', cursive;
font-size: 33px;

}

h2{

	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 29px;
}

p{

	font-family: 'Quicksand', sans-serif;
	font-size: 26px;

}

body{


background-color: rgba(174, 0, 174 , 0.2);
}

img{

   float: left;
   transition: all 1s; 
   margin: 23px;
}

img:hover{

	transform: scale(1.2);
}